.cities {
  width: 100%;
  margin: 4rem; // 64px
  
  div.search-area {
    display: flex;    
  }
  
  h1 {
    font-weight: 500;
    text-align: right;
  }
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem; // 32px
  column-gap: 3.25rem; // 52px

  @media (max-width: 950px) {
    grid-template-columns: 1fr;
  }
}
